* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: ;
}

.box img {

  display: flex;
  align-items: center;
  justify-content: center;
}